<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Taskhub{% endblock %}</title>
    <!-- Your CSS and other head elements here -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   
   
   <style>
       body{
        padding-bottom: 100px;
       }
        footer {
                background-color: #09275e;
                padding: 10px;
                text-align: center;
                position: fixed;
                bottom: 0;
                width: 100%;
                color: azure;
                margin-top: 30px;
            }
    </style>
</head>
<body>
   
    <!-- Your page content here -->
    <div>
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>2023 Developed by Liji Mathew</p>
    </footer>

    <!-- Your JavaScript code here -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>
