{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>Home page</title>
   
   
      
</head>

{% block content %}
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-image: url('{% static 'images/home-6.jpg' %}'); background-size: cover; background-position: center; height: 100vh;">
    

   
    <!-- Add your video element with the video source pointing to your video file -->
    <nav class="navbar" style="padding: 30px; margin-bottom: 20px;background-color: #09275e;">
        <div class="container-fluid" style="display: flex; justify-content: space-between; align-items: center;">
            <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
                
                <span style="margin-left: 5px; color: #f2f2f2; font-size: 25px; font-weight: 700;">Taskhub</span>
            </a>
            <div style="display: flex; align-items: center;">
                <a href="{% url 'register_employee' %}" style="text-decoration: none; padding: 8px 16px; background-color: #ff3c00; color: white; border-radius: 4px; margin-right: 20px;">Sign Up</a>
                <a href="{% url 'login_employee' %}" style="text-decoration: none; padding: 8px 16px; background-color: #ff3c00; color: white; border-radius: 4px; margin-right: 10px;">Sign In</a>
               

            </div>
        </div>
    </nav>
    
    <div class="content">
        
        <div class="content" style="width: 700px; margin:50px 50px; color: rgb(255, 255, 255);">
            <h1 style="font-size: 36px; margin-bottom: 20px;">Welcome to Taskhub!</h1>
            <p style="font-size: 18px; line-height: 2;">
                Taskhub is a powerful project management platform designed to streamline your project workflows and enhance collaboration within your team. Say goodbye to scattered tasks and lost deadlines. With Taskhub, you can effortlessly create, assign, and track tasks, ensuring everyone stays on the same page. Take control of your projects, boost productivity, and deliver outstanding results. Join Taskhub today and experience a new era of project management efficiency!
            </p>       
        </div>
    </div>
    <div class="welcome-button" style="text-align: center;">
        <a class="btn" href="{% url 'register_employee' %}" style="background-color: #0cc449; padding: 10px 10px; width: 200px; color: white; text-decoration: none; border: none; border-radius: 4px; transition: background-color 0.3s ease;" onmouseover="this.style.backgroundColor='#0ea85f'" onmouseout="this.style.backgroundColor='#0cc449'">Join with us!</a>
    </div>
    
    {% endblock %}
</body>
</html>
