<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
        padding-bottom: 100px;
       }
    </style>
</head>
<body>
    {% load static %}

    <nav class="navbar navbar-expand-lg" style="background-color: #09275e; padding:20px;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: white;font-weight: 700;font-size: 30px;">Taskhub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 35px;">
            {% if employee.role == 'Project Manager' %}
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a style="color: white;" class="nav-link active" aria-current="page" href="{% url 'view_profile' %}">Home</a>
              </li>
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="{% url 'view_group' employee.id %}">My Group</a>
              </li>
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="{% url 'track_activity' employee.id %}">Track my activity</a>
              </li>
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="{% url 'view_project_developers' %}">View all members</a>
              </li>
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="{% url 'update_profile' employee.id %}">Update Profile</a>
              </li>
              
              <li class="nav-item">
                <a style="color: white;" class="nav-link" href="{% url 'logout_employee' %}">Logout</a>
              </li>
              <li class="nav-item">
                <form action="{% url 'delete_account' employee.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit"  style="background-color: red; border: none; color: white;border-radius: 5px;padding:5px;margin-left: 20px;" onclick="confirmDelete()">Delete Account</button>
              </form>             
             </li>
              
            </ul>
            {% elif employee.role == 'Project Developer' %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a style="color: white;" class="nav-link active" aria-current="page" href="{% url 'view_profile' %}">Home</a>
                </li>
                
                <li class="nav-item">
                  <a style="color: white;" class="nav-link" href="{% url 'update_profile' employee.id %}">Update profile</a>
                </li>
                
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="{% url 'logout_employee' %}">Logout</a>
                </li>
                <li class="nav-item">
                  <form action="{% url 'delete_account' employee.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" style="background-color: red; border: none; color: white;padding:5px;border-radius: 5px; margin-left: 20px;" onclick="confirmDelete()">Delete Account</button>
                </form>
                 </li>

              </ul>
              {% else %}
              <ul>

              </ul>
              {% endif %}
          </div>
        </div>
      </nav>
   


      <script>
        function confirmDelete() {
            var confirmation = confirm("Are you sure you want to delete your account?");
            if (confirmation) {
                document.getElementById("deleteForm").submit();
            }
        }
    </script>

</body>
</html>
