{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Track My Activity</title>
</head>

<body>
    {% block content %}
    {% include 'inner_header.html' %}
    
    <h2 class="mt-5 mb-5 mx-5 fw-bolder" >Track My Activity</h2>
    <ul>
        {% for activity in activities %}
        <li>
            <strong>{{ activity.title }}</strong> - {{ activity.date }}
            <p>{{ activity.description }}</p>
        </li>
        {% endfor %}
    </ul>
    
    <a class="btn btn-secondary" href="javascript:history.back()">Back</a>
    {% endblock %}
</body>
</html>
