{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>Project Manager Profile</title>
</head>
<body>
    {% block content %}

    {% include 'inner_header.html' %}

    <div style="text-align: center; margin-top: 30px;">
        <h3 style="font-size: 24px;margin-bottom: 20px;">Hello {{ employee.name }}!</h3>

        {% if employee.profile_image %}
            <img src="{{ employee.profile_image.url }}" alt="{{ employee.name }}" style="width: 70px; height: 70px; border-radius: 50%">
        {% else %}
            <i><p style="font-size: 16px; font-weight:300;">No profile image available.</p></i>
        {% endif %}

        <table style="margin-top: 20px; width: 50%; margin: 0 auto;">
            <tr>
                <td style="font-size: 18px; text-align: right; padding-right: 10px;"><strong>Name:</strong></td>
                <td style="font-size: 18px; text-align: left;">{{ employee.name }}</td>
            </tr>
            <tr>
                <td style="font-size: 18px; text-align: right; padding-right: 10px;"><strong>Email:</strong></td>
                <td style="font-size: 18px; text-align: left;">{{ employee.email }}</td>
            </tr>
            <tr>
                <td style="font-size: 18px; text-align: right; padding-right: 10px;"><strong>Username:</strong></td>
                <td style="font-size: 18px; text-align: left;">{{ employee.username }}</td>
            </tr>
            <tr>
                <td style="font-size: 18px; text-align: right; padding-right: 10px;"><strong>Phone:</strong></td>
                <td style="font-size: 18px; text-align: left;">{{ employee.phone_number }}</td>
            </tr>
            <tr>
                <td style="font-size: 18px; text-align: right; padding-right: 10px;"><strong>Role:</strong></td>
                <td style="font-size: 18px; text-align: left;">{{ employee.role }}</td>
            </tr>
            <tr>
                <td style="font-size: 18px; text-align: right; padding-right: 10px;"><strong>Domain:</strong></td>
                <td style="font-size: 18px; text-align: left;">{{ employee.domain }}</td>
            </tr>
            <tr>
                <td style="font-size: 18px; text-align: right; padding-right: 10px;"><strong>Technology:</strong></td>
                <td style="font-size: 18px; text-align: left;">{{ employee.technologies_used }}</td>
            </tr>
        </table>

        {% if employee.role == 'Project Developer' %}
            <div style="margin-top: 20px;">
                <a href="{% url 'my_tasks' employee.id %}" style="text-decoration: none; display: inline-block; margin: 10px; padding: 10px 20px; background-color: #0cc449; color: white; border-radius: 5px;">My Task</a>
                <a href="{% url 'my_groups' employee.id %}" style="text-decoration: none; display: inline-block; margin: 10px; padding: 10px 20px; background-color: #0cc449; color: white; border-radius: 5px;">My Groups</a>
            </div>
        {% endif %}

        {% if employee.role == 'Project Manager' %}
            <div style="margin-top: 20px;">
                <a href="{% url 'create_group' employee.id %}" style="text-decoration: none; display: inline-block; margin: 10px; padding: 10px 20px; background-color: #0cc449; color: white; border-radius: 5px;">Create Group</a>
                <a href="{% url 'assign_task' employee.id %}" style="text-decoration: none; display: inline-block; margin: 10px; padding: 10px 20px; background-color: #0cc449; color: white; border-radius: 5px;">Assign Task</a>
            </div>
        {% endif %}

    </div>

    <a href="javascript:history.back()" style="display: inline-block; background-color: #dad7d7; color: #333; text-decoration: none; padding: 10px 20px; border: 1px solid #ccc; border-radius: 5px; margin-top: 20px; margin-left: 10px;">Back</a>

    {% endblock %}
</body>
</html>
